@import '@/vars';
@import '@/mixins';

$gap: 1rem;

.bottom {
    padding: 1rem 2rem 3rem 2rem;

    @include response($sidebar-response) {
        padding: 1rem 0.5rem 1.5rem 0.5rem;
    }
}

.content {
    display: flex;
    align-items: flex-end;
    column-gap: $gap;
}

.form {
    display: flex;
    align-items: flex-end;
    column-gap: $gap;
    height: 100%;

    flex: 1;

    position: relative;

    &__input {
        width: 100%;
        height: 100%;

        &-error {
            border: 1px solid var(--error) !important;

            &::placeholder {
                color: var(--error);
            }

            &:focus {
                border: 1px solid var(--error);

                &::placeholder {
                    color: var(--error);
                }
            }
        }

        &-wrapper {
            position: relative;
            flex: 1;

            &>.error {
                position: absolute;
                top: 100%;
                left: 0;

                display: flex;
                align-items: center;
                justify-content: center;

                width: 100%;
                height: 3rem;
            }
        }
    }
}

.emoji {
    position: relative;

    @include response($sidebar-response) {
        display: none;
    }

    &__picker {
        position: absolute;
        bottom: 100%;
        right: 0;

        padding-bottom: 1rem;
    }
}

.blocked {
    display: flex;
    align-items: center;
    justify-content: center;

    padding: 2rem 1rem;

    color: var(--text-primary);
    fill: var(--text-primary);

    &__icon {
        display: inline-block;
    }

    &__text {
        font-size: 1.8rem;
        line-height: 1;
        font-weight: 400;
        margin-left: 1rem;
    }
}

.photo-preview {
    display: inline-block;
    position: relative;
    padding-bottom: 1rem;

    img {
        width: 8rem;
        height: 8rem;
        object-fit: cover;
        border-radius: 0.8rem;
    }

    button {
        position: absolute;
        top: 0;
        right: 0;
        background: rgba(0, 0, 0, 0.6);
        fill: #fff;
        border: none;
        border-radius: 50%;
        padding: 0.4px;
        cursor: pointer;
    }
}

.loader {
    font-size: 2.7rem;

    &__wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 4.4rem;
        height: 4.4rem;
    }
}