@import '@/vars';
@import '@/mixins';

.chat {
    display: flex;
    flex-direction: column;
    flex: 1;

    padding-left: $sidebarWidth;

    position: relative;

    height: 100dvh;

    z-index: 10;

    @include response($sidebar-response) {
        padding-left: 0;
    }

    &.show-details {
        padding-right: $detailsWidth;

        @include response($sidebar-response) {
            padding-right: 0;
        }
    }

    &__placeholder {
        display: flex;
        flex: 1;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        row-gap: 1rem;

        &-response {
            display: none;

            @include response($sidebar-response) {
                display: flex;
            }
        }

        &-desktop {
            display: flex;

            @include response($sidebar-response) {
                display: none;
            }
        }
    }
}