@import '@/mixins';

.user__info {
    position: relative;
    padding: 0.5rem 1.5rem;
}

.user {

    display: flex;
    align-items: center;
    column-gap: 1.5rem;

    padding: 1rem;

    border-radius: 1rem;

    cursor: pointer;

    transition: background-color .2s ease;

    &:hover {
        background-color: var(--sidebar-user-hover);
    }

    $photoSize: 5.6rem;

    &__photo {
        width: $photoSize;
        height: $photoSize;

        border-radius: 50%;
        overflow: hidden;

        user-select: none;
        pointer-events: none;

        &-none {
            @include photoPlaceholder($photoSize);
        }

        img {
            width: 100%;
            height: 100%;

            object-fit: cover;
        }
    }

    &__text {
        flex: 1;
        position: relative;
        overflow: hidden;

        &::after {
            content: "";
            position: absolute;
            right: 0;
            bottom: -1rem;
            width: 100%;
            height: 1px;
            background-color: var(--sidebar-user-border);
            pointer-events: none;
            user-select: none;
        }
    }

    &__name {
        font-size: 1.6rem;
        color: var(--text-primary);
        font-weight: 700;

        overflow: hidden;
        white-space: nowrap;
        text-wrap: nowrap;
        text-overflow: ellipsis;
    }

    &__subtitle {
        margin-top: 0.5rem;

        overflow: hidden;
        white-space: nowrap;
        text-wrap: nowrap;
        text-overflow: ellipsis;

        overflow: hidden;
        font-size: 1.4rem;
        color: var(--text-secondary);
    }

    &__menu {

        position: absolute;
        bottom: 100%;

        left: 0;
        right: 0;
        padding-bottom: 1rem;

        z-index: 50;

        &-wrapper {
            position: relative;
        }

        &-inner {
            background-color: var(--background-primary);
            border-radius: 1rem;
            padding: 0.5rem 1rem;

            display: flex;
            flex-direction: column;
    
            row-gap: 0.5rem;
        }

        &-btn {
            width: 100%;
            text-align: left;

            &.red {
                color: var(--red);
                fill: var(--red);
                background-color: transparent;

                &:hover {
                    color: var(--red);
                    fill: var(--red);
                    background-color: var(--red-secondary);
                }

                &:focus-visible {
                    outline: 1px solid var(--text-primary);
                    color: var(--red);
                    fill: var(--red);
                    background-color: var(--red-secondary);
                }
            }
        }
    }
}