@import '@/mixins';

.top {
    text-align: center;
    margin-top: 4rem;
    padding-bottom: 2rem;
    border-bottom: 1px solid var(--border);
}

$photoSize: 10rem;

.avatar {
    width: $photoSize;
    height: $photoSize;

    margin: 0 auto;

    border-radius: 50%;

    overflow: hidden;

    &__none {
        @include photoPlaceholder($photoSize);
    }

    img {
        width: 100%;
        height: 100%;

        object-fit: cover;
    }
}

.name {
    font-size: 2.4rem;
    margin-top: 1rem;
}