.btn {
    display: inline-flex;
    align-items: center;

    font-size: 1.6rem;
    
    padding: 1rem 2rem;
    border-radius: 2.2rem;

    color: var(--text-primary);
    fill: var(--text-primary);
    background-color: transparent;

    cursor: pointer;

    transition-property: background-color, fill, color;
    transition-duration: 200ms;
    transition-timing-function: linear;

    &__icon {
        display: inline-block;
        margin-right: 1rem;

        div {
            display: flex;
            height: 100%;
        }
    }

    &:hover {
        fill: var(--button-transparent-text-hover);
        background-color: var(--button-transparent-hover);
    }

    &:focus-visible {
        outline: 1px solid var(--text-primary);
        fill: var(--button-transparent-text-hover);
        background-color: var(--button-transparent-hover);
    }

    &:disabled {
        cursor: not-allowed;
        color: var(--button-transparent-disabled);
        fill: var(--button-transparent-disabled);

        &:hover {
            color: var(--button-transparent-disabled);
            fill: var(--button-transparent-disabled);
            background-color: transparent;
        }
    }

    &__loading {
        text-align: center;
        background-color: var(--button-transparent-hover);

        &:disabled:hover {
            background-color: var(--button-transparent-hover);
        }
    }

    &__loading > .text {
        display: flex;
        justify-content: center;
    }

    &__filled {
        color: var(--text-secondary-active);
        fill: var(--text-secondary-active);
        background-color: var(--button);

        &:hover {
            color: var(--text-secondary-active);
            fill: var(--text-secondary-active);
            background-color: var(--button-hover);
        }

        &:focus-visible {
            color: var(--text-secondary-active);
            fill: var(--text-secondary-active);
            background-color: var(--button-hover);
        }

        &:disabled {
            color: var(--text-secondary-active);
            fill: var(--text-secondary-active);
            background-color: var(--button-disabled);

            &:hover {
                color: var(--text-secondary-active);
                fill: var(--text-secondary-active);
                background-color: var(--button-disabled);
            }
        }
    }

    &__loading > &__text > .loader {
        border-color: var(--text-primary-active);
    }
}

.text {
    flex: 1;
}

.loader {
    font-size: 2.2rem !important;

    &__filled {
        border-color: var(--text-primary-active) !important;
    }
}