.btn {
    display: inline-flex;
    align-items: center;
    cursor: pointer;
    padding: 1rem 2rem;
    color: var(--button-text);
    background-color: var(--button);

    line-height: 1.2;

    border-radius: 3rem;

    transition: background-color .2s linear;

    &__icon {
        display: inline-block;
        fill: var(--button-text);
        margin-right: 1rem;
    }

    &:hover {
        background-color: var(--button-hover);
    }
}