@import '../../vars';

.sidebar {
    max-width: $sidebarWidth;
    width: 100%;

    position: fixed;
    top: 0;
    left: 0;
    
    z-index: 20;

    height: 100dvh;

    display: flex;
    flex-direction: column;

    background-color: var(--sidebar-background);
    border-right: 2px solid var(--sidebar-border);

    // padding: 0 1rem;
}