@import '@/mixins';

.top {
    padding: 1rem;
    box-shadow: 0 5px 20px rgba(#000, 0.13);
    cursor: pointer;
}

.user {
    text-align: center;
}

$photoSize: 5.4rem;

.avatar {
    width: $photoSize;
    height: $photoSize;

    margin: 0 auto;

    border-radius: 50%;
    overflow: hidden;

    &__none {
        @include photoPlaceholder($photoSize);
    }

    img {
        width: 100%;
        height: 100%;

        object-fit: cover;

        pointer-events: none;
        user-select: none;
    }
}

.name {
    margin-top: 0.5rem;

    font-size: 1.8rem;
    font-weight: 700;
}